
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyContinuum Notes</title>
  <link rel ="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
    <h1>📝 Notes</h1>
    <p class="timezone-note">(Times shown in {{ user_timezone}})</p>
    <div id="notes"></div>
  </div>

  <script type="module">

    import { getPubkey } from '/static/js/utils.js';

    const pubkey = await getPubkey();
    if (!pubkey) {
      document.getElementById('notes').innerHTML = '<p>Error loading replies (no pubkey found).</p>';
      throw new Error('No pubkey');
    }    

    fetch(`/api/notes/${pubkey}`)
      .then(response => response.json())
      .then(data => {
        // Sort descending by created_at
        data.sort((a, b) => b.created_at - a.created_at);

        const container = document.getElementById('notes');
        data.forEach(note => {
          const wrapper = document.createElement('div');
          wrapper.className = 'standard-link note-entry common-card';

          const title = note.generated_title + "..." ;
          const link = document.createElement('a');

          link.href = `/nostr/view/note/${note.id}`; 
          link.textContent = title;
          link.target = '_blank';
          link.rel = 'noopener noreferrer';

          const timestamp = new Date(note.created_at * 1000).toLocaleString();

          const meta = document.createElement('div');
          meta.className = 'note-meta';
          meta.textContent = `Posted: ${timestamp}`;

          wrapper.appendChild(link);
          wrapper.appendChild(meta);
          container.appendChild(wrapper);
        });
      });
  </script>
</body>
</html>
